<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog App</title>
</head>
<body>
    SHARED HEADER LAYOUT SERVED FROM layout.ejs FILE
<br><br>
<hr>

<nav>
  <a href="/article/index">Articles</a>
  <a href="/article/add">Add Article</a>
</nav>

    <%- body %>

    <br><br>
    <hr>
    <br>

    SHARED FOOTER LAYOUT SERVED FROM layout.ejs FILE
</body>
</html>