<h1> Add Article </h1>

<form method="POST" action="/article/add">

  <div>
    <label>Title</label>
    <input type="text" name="title" />
  </div>

  <div>
    <label>Content</label>
    <textarea name="content"></textarea>
  </div>

  <div>
    <label>Is Published</label>
    <input type="text" name="isPublished" />
  </div>

  <div>
    <label>Total Words</label>
    <input type="number" name="totalWords" />
  </div>

  <div>
    <label>Author</label>
    <input type="text" name="author" />
  </div>

  <div>
    <button type="submit">Create Article</button>
  </div>

</form>