<h1> Add Article </h1>

<form method="POST" action="/article/add">

  <div class="form-group">
    <label>Title</label>
    <input type="text" name="title" class="form-control"/>
  </div>

  <div class="form-group">
    <label>Content</label>
    <textarea name="content" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label>Is Published</label>
    <input type="text" name="isPublished" class="form-control"/>
  </div>

  <div class="form-group">
    <label>Total Words</label>
    <input type="number" name="totalWords" class="form-control"/>
  </div>

  <div class="form-group">
    <label>Author</label>
    <select name="author" id="author">
      <% authors.forEach(function(author){ %>
        <option value="<%= author._id %>"><%= author.name %></option>
      <% }) %>
    </select>
  </div>
<br>
  <div>
    <button type="submit" class="btn btn-primary">Create Article</button>
  </div>

</form>